@mixin ui-slide-notification($background: #f9f9f9,
$border: 1px solid #ddd,
$box-shadow: rgba(0, 0, 0, .20) 0px 1px 1px,
$button-font-color: #ddd,
$button-font-color-hover: $secondary-color,
$height: 300px,
$width: 800px,
$padding: 30px,
$border-radius: $global-radius,
$z-index: 1000,
$li-margin: .6em 0,
$header-margin: 1em) {

  .ui-slide-notification, ui-slide-notification {
    position: fixed;
    top: 0;
    width: 100%;
    height: $height;
    z-index: $z-index;
    @include flexbox($justification: center);
    & > .content {
      visibility: hidden;
      width: $width;
      background: $background;
      border-radius: $border-radius;
      border: $border;
      height: $height;
      box-shadow: $box-shadow;
      padding: $padding;
      & > header {
        margin: $header-margin;
        @include flexbox($justification: center, $alignment: center);
        h3 {
          margin-bottom: .5em;
        }
        button {
          margin-left: auto;
          background: none;
          border: none;
          color: $button-font-color;
          font-size: 2em;
          &:hover, &:focus {
            color: $button-font-color-hover;
          }
        }
      }
      & > section {
        ul {
          list-style: none;
          display: block;
          & > li {
            display: block;
            margin: $li-margin;
            & > a {
              font-size: 1em;
            }
          }
        }
      }
    }
    @content;
  }

}