<ui-slide-notification {?name}name="{name}"{/name}>
    <ui-template>
        <header>
            <h3>{@placeHolder value="{message}" defaultValue="Your form was successfully saved" /}</h3>
            <button><span class="icon-close-2"></span></button>
        </header>
        <section>
            {@placeHolder value="{description}" defaultValue="What would like to do next?" /}

            <ul>

                {#reset}
                <li><a data-controller="reset-form">Reset the current form?</a></li>
                {/reset}
                {#redirect}
                <li><a href="{url}">{label}</a></li>
                {/redirect}
                {#referrer}
                <li><a href="{url}">Go to the previous page?</a></li>
                {/referrer}


            </ul>
        </section>
    </ui-template>
</ui-slide-notification>